<!-- Wrapper Start -->
<section id="intro">
   <div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="block">
            <div class="section-title">
               <h2>{{ .Site.Params.wrapper.title1 }}</h2>
               </br>
               <p>{{ .Site.Params.wrapper.italic }}</p>
            </div>
            <p>{{ .Site.Params.wrapper.paragraph1 }}</p>
            <p>{{ .Site.Params.wrapper.paragraph2 }}</p>
            <div class="section-title">
               </br>
               </br>
               </br>
               <h2>{{ .Site.Data.youtube.title }}</h2>
               </br>
               </br>
               <div class="embed video-player" align="center">
                  <iframe class="youtube-player" type="text/html"
                     width="640" height="385"
                     src="https://www.youtube.com/embed/{{ .Site.Data.youtube.link }}"
                     allowfullscreen frameborder="0">
                  </iframe>
               </div>
            </div>
         </div>
         <div class="col-sm-12">
            <div class="block">
               <div class="section-title">
                  </br>
                  </br>
                  </br>
                  <h2>Our Product</h2>
               </div>
               </br>
               <img src="img/wrapper-img.png" alt="Img">
            </div>
         </div>
         <!-- .col-md-7 close -->
      </div>
   </div>
</section>
